.calculator {
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    width: 280px;
}

.display {
    flex-grow: 1;
    height: 80px;
    width: 100%;
    background-color: #000;
}

.display p {
    padding-right: 10px;
    color: white;
    text-align: right;
    font-size: 60px;
    line-height: 80px;
}

.digit {
    flex-grow: 1;
}

.digit button {
    border: 1px solid black;
    width: 25%;
    height: 60px;
    font-size: 30px;
}

.digit button:hover {
    cursor: pointer;
}

.digit .zero {
    width: 50%;
}

.color-function {
    background-color: #bbb;
}

.color-operation {
    background-color: orange;
}
